@model UserModel

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>User name: @Model.FirstName @Model.LastName</p>
<p>Use this area to provide additional information.</p>
